body {
    background-color: #e8eaf6;
}

.borderradiusless {
    border-radius: 0 !important;
}

.bordernone {
    border: none !important;
}

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.ui.divider {
    display: block !important;
}

.ui.form .field > label {
    color: rgba(34,36,38,.7) !important;
    font-weight: 400 !important;
}

.ui.form .ui.segment.basic:not(.kipa) {
    padding: 0 1em;
    margin: 0;
    border: 1px dashed rgba(34,36,38,.15);
    border-top: none;
}

.ui.header.right.floated .content {
    display: table-cell;
    vertical-align: middle;
    padding-right: .75rem;
}

.kipa.breadcrumb {
    padding: 0 .5em;
}

.kipa.fixed.top.menu {
    display: block;
    left: inherit;
    max-width: inherit;
}

.kipa.fixed.top.menu .higest {
    margin: 0;
    min-height: 0;
}

.kipa.fixed.top.menu .higest .item {
    padding: .5em 1em;
}

.kipa.fixed.top.menu .middle {
    margin: .2em;
    padding: .3em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}